<mat-card class="example-card mat-elevation-z0">
  <mat-card-title style="text-align: center">{{ title }}</mat-card-title>
  <div class="example-container">
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="submit()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> E-mail
          </mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
            <span *ngIf="loginForm.controls.email.errors.required">El campo es requerido.</span>
            <span *ngIf="loginForm.controls.email.errors.pattern">El valor es invalido.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Password
          </mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            <span *ngIf="loginForm.controls.password.errors.required">El campo es requerido.</span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Log In</button>
      </form>
    </div>
  </div>
</mat-card>
